* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Inter", sans-serif;
}
/* background-color: #1334b3; */
.required::-webkit-input-placeholder {
  content: "*";
}

.section-add_client {
  padding: 2rem;
  background-color: #fff;
  padding-bottom: 4rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}
